* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 0 0px;
    font-family: sans-serif;
  }
  
  .name{
    color:#f5811e;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-left: initial;
  }
  
  .navbar .nav-list li a {
    color: #ff7d0c;
    font-size: 21px;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.2s ease;
  }
  
  ul{
      margin-right: -30px;
    }
  
  .navbar .nav-list li a:hover {
    color: #c46716;
    text-decoration: underline;
  }
  .navbar .nav-list li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10%;
    top: 35px;
  }
  
  .line {
    width: 30px;
    background-color: #ff7d0c;
    height: 4px;
    margin: 4px 3px;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 100%;
  }
  .max-width {
    max-width: 13800px;
    padding: 0 100px;
    margin: auto;
    width: 100%;
  }
  
  img {
    width: 120px;
    margin-left: -40px;
  }
  
  .background {
    background: rgba(0, 0, 0, 0.083)
      url(images/sites/6.png);
    background-size: cover;
    background-blend-mode: darken;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    height: 100%;
  }
  
  .firstsection {
    height: 300px;
  }
  
  .firsthalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .heading {
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: auto;
  }
  
  .heading7 {
    font-size: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .para {
    font-size: 28px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ffffff;
    line-height: 60px;
  }
  
  .section {
    display: flex;
    padding: 10px;
    align-items: center;
    max-width: 100%;
    margin: auto;
    justify-content: space-evenly;
  }
  
  .left {
    flex-direction: row-reverse;
  }
  
  .paras {
    padding: 0 0px;
  }
  
  .jj {
    color: #f5811e;
  }
  
  .bb {
    color: black;
    text-decoration: none;
  }
  
  .ifr {
    color: #f5811e;
    font-size: 30px;
  }
  .lo {
    font-size: 30px;
  }
  
  .head {
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
  }
  
  .head2 {
    font-size: 55px;
    font-family: sans-serif;
    font-weight: normal;
    color: #f5811e;
    text-align: left;
  }
  
  .subhead {
    font-size: 25px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
  }
  
  .right .paras a {
    display: inline-block;
    background: #ff7d0c;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 0px;
    border: 2px solid #ff7d0c;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .right .paras a:hover {
    color: black;
    background: none;
  }
  
  .left .paras a {
    display: inline-block;
    background: #ff7d0c;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 0px;
    border: 2px solid #ff7d0c;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .left .paras a:hover {
    color: black;
    background: none;
  }
  
  
  .dealer img {
    padding: 0px 0px;
    margin: 10px 30px;
    width: 250px;
    height: 200px;
    border: 2px solid black;
  }
  .gallery{
    text-align: center;
    display: inline-block;
    margin: 10px 40px;
  }
  
  .gallery img{
    width: 250px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
  }
  
  .gallery img:hover{
    cursor: pointer;
    border: 2px solid #f5811e;
  }
  
  .f{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: -50px;
    
  }
  
  .dealer img:hover {
    cursor: pointer;
    border: 2px solid #f5811e;
  }
  
  p.dealer {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .shead {
    text-align: center;
  }
  
  .last{
    text-align: center;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 20 0px;
    font-family: sans-serif;
    padding: 20px 0px;
  }
  
  .footer2 {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px 0px;
  }
  
  footer {
    position: sticky;
    font-weight: bold;
    justify-content: left;
    text-align: center;
  }
  
  a {
    color: #ff7d0c;
    text-decoration: none;
  }
  
  .footer2 a:hover {
    color: #cc650a;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: #cc650a;
    cursor: pointer;
  }
  
  @media (max-width: 950px) {
    .max-width {
      padding: 0 10px;
    }
  
    .navbar-btn {
      display: block;
      z-index: 999;
    }
  
    .navbar .nav-list {
      position: fixed;
      height: auto;
      width: 100%;
      right: -100%;
      top: 0;
      background: rgb(0, 0, 0);
      text-align: right;
      padding-right: 70px;
      padding-top: 80px;
      transition: all 0.0s linear;
    }
  
    .navbar .nav-list.active {
      right: 0%;
    }
    .navbar .nav-list li {
      display: block;
    }
    .navbar .nav-list li a {
      display: inline-block;
      margin: 20px 0px;
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 792px) {
    .box-main {
      flex-direction: column;
      max-width: 100%;
    }
  
    .section {
      flex-direction: column-reverse;
      margin-top: 15px;
    }
  
    img{
        margin: auto;
    }
  
    .last {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .thumb3 img {
      width: 180px;
      height: 180px;
    }
  
    .thumb img {
      width: 180px;
      height: 180px;
    }
  
    .paras {
      text-align: center;
    }
  
    .firstsection {
      height: 200px;
    }
  
    .para {
      font-size: 25px;
      line-height: 35px;
    }
  
    .heading {
      margin-top: 100px;
      font-size: 40px;
      margin-bottom: 0px;
    }
  
    .heading7{
        font-size: 40px;
    }
    .head {
      text-align: left;
      font-size: 50px;
    }
    
    .head2{
        text-align: left;
        font-size: 50px;
    }
  
    .subhead {
      text-align: left;
      float: left;
      margin-top: -30px;
    }
  
    p.dealer {
      text-align: center;
      width: 100%;
    }
  
    .gallery{
      margin: 20px 0px;
      display: block;
    }
    
    .f{
      margin: auto;
      font-weight: bold;
      font-family: sans-serif;
    }
  }
  
@media only screen and (min-width: 600px){
  .name{
    color:#f5811e;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-right: 200px;
    }
}

@media only screen and (max-width: 600px){
  .name{
    color:#f5811e;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-right: 100px;
    }
}
